{port_env, [
    {"DRV_LDFLAGS", "-shared $ERL_LDFLAGS"},
    {"darwin", "DRV_LDFLAGS", "-bundle -flat_namespace -undefined suppress $ERL_LDFLAGS"},
    {"DRV_CFLAGS", "-Ic_src -Ic/src/include/ -I./c/modules/base/include -I./c/modules/ck/include -I./c/modules/common/src/include -I./c/modules/lua-core/include -I./c/modules/mod-lua/include -g -Wall -fPIC $ERL_CFLAGS"}
]}.

{port_specs, [{"priv/aerospike_drv.so", ["c_src/*.c", "c/src/main/*/*.c"]}]}.

{deps, [
    {'poolboy', "", {git, "https://github.com/devinus/poolboy.git", {branch, master}}}
]}.

{erl_opts, [debug_info, warnings_as_errors]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
