{port_env, [
    {"DRV_LDFLAGS", "-llua5.1 -lgnutls-openssl -lssl -lcrypto -shared $ERL_LDFLAGS"},
    {"darwin", "DRV_LDFLAGS", "-bundle -flat_namespace -llua -lssl -lcrypto -undefined suppress $ERL_LDFLAGS"},
    {"DRV_CFLAGS", "-I/usr/include/lua5.1 -Ic_src -Ic/src/include/ -I./c/modules/base/src/include -I./c/modules/ck/include -I./c/modules/common/src/include -I./c/modules/lua-core/src/include -I./c/modules/mod-lua/src/include -std=gnu99 -g -Wall -fPIC -O0 -fno-common -fno-strict-aliasing -finline-functions -march=nocona -DMARCH_x86_64 -D_FILE_OFFSET_BITS=64 -D_REENTRANT -D_GNU_SOURCE $ERL_CFLAGS"},
    {"darwin", "DRV_CFLAGS", "-I/usr/include/lua5.1 -Ic_src -Ic/src/include/ -I./c/modules/base/src/include -I./c/modules/ck/include -I./c/modules/common/src/include -I./c/modules/lua-core/src/include -I./c/modules/mod-lua/src/include -std=gnu99 -g -Wall -fPIC -O0 -fno-common -fno-strict-aliasing -finline-functions -march=nocona -DMARCH_x86_64 -D_FILE_OFFSET_BITS=64 -D_REENTRANT -D_GNU_SOURCE -DLUA_DEBUG_HOOK $ERL_CFLAGS"}
]}.

{port_specs, [{"priv/aerospike_drv.so", [
        "c_src/*.c", 
        "c/modules/base/src/main/cf_average.c",
        "c/modules/base/src/main/cf_client_rc.c",
        "c/modules/base/src/main/cf_log.c",
        "c/modules/base/src/main/cf_packet_compression.c",
        "c/modules/base/src/main/cf_proto.c",
        "c/modules/base/src/main/cf_service.c",
        "c/modules/base/src/main/cf_socket.c",
        "c/modules/ck/src/ck_array.c",
        "c/modules/ck/src/ck_barrier_centralized.c",
        "c/modules/ck/src/ck_barrier_combining.c",
        "c/modules/ck/src/ck_barrier_dissemination.c",
        "c/modules/ck/src/ck_barrier_mcs.c",
        "c/modules/ck/src/ck_barrier_tournament.c",
        "c/modules/ck/src/ck_epoch.c",
        "c/modules/ck/src/ck_hp.c",
        "c/modules/ck/src/ck_hs.c",
        "c/modules/ck/src/ck_ht.c",
        "c/modules/ck/src/ck_rhs.c",
        "c/modules/common/src/main/aerospike/as_aerospike.c",
        "c/modules/common/src/main/aerospike/as_arraylist.c",
        "c/modules/common/src/main/aerospike/as_arraylist_hooks.c",
        "c/modules/common/src/main/aerospike/as_arraylist_iterator.c",
        "c/modules/common/src/main/aerospike/as_arraylist_iterator_hooks.c",
        "c/modules/common/src/main/aerospike/as_boolean.c",
        "c/modules/common/src/main/aerospike/as_buffer.c",
        "c/modules/common/src/main/aerospike/as_bytes.c",
        "c/modules/common/src/main/aerospike/as_hashmap.c",
        "c/modules/common/src/main/aerospike/as_hashmap_hooks.c",
        "c/modules/common/src/main/aerospike/as_hashmap_iterator.c",
        "c/modules/common/src/main/aerospike/as_hashmap_iterator_hooks.c",
        "c/modules/common/src/main/aerospike/as_integer.c",
        "c/modules/common/src/main/aerospike/as_iterator.c",
        "c/modules/common/src/main/aerospike/as_list.c",
        "c/modules/common/src/main/aerospike/as_logger.c",
        "c/modules/common/src/main/aerospike/as_map.c",
        "c/modules/common/src/main/aerospike/as_memtracker.c",
        "c/modules/common/src/main/aerospike/as_module.c",
        "c/modules/common/src/main/aerospike/as_msgpack.c",
        "c/modules/common/src/main/aerospike/as_msgpack_serializer.c",
        "c/modules/common/src/main/aerospike/as_nil.c",
        "c/modules/common/src/main/aerospike/as_pair.c",
        "c/modules/common/src/main/aerospike/as_password.c",
        "c/modules/common/src/main/aerospike/as_rec.c",
        "c/modules/common/src/main/aerospike/as_result.c",
        "c/modules/common/src/main/aerospike/as_serializer.c",
        "c/modules/common/src/main/aerospike/as_stream.c",
        "c/modules/common/src/main/aerospike/as_string.c",
        "c/modules/common/src/main/aerospike/as_stringmap.c",
        "c/modules/common/src/main/aerospike/as_timer.c",
        "c/modules/common/src/main/aerospike/as_val.c",
        "c/modules/common/src/main/aerospike/as_vector.c",
        "c/modules/common/src/main/aerospike/crypt_blowfish.c",
        "c/modules/common/src/main/aerospike/internal.c",
        "c/modules/common/src/main/citrusleaf/cf_alloc.c",
        "c/modules/common/src/main/citrusleaf/cf_b64.c",
        "c/modules/common/src/main/citrusleaf/cf_bits.c",
        "c/modules/common/src/main/citrusleaf/cf_clock.c",
        "c/modules/common/src/main/citrusleaf/cf_crypto.c",
        "c/modules/common/src/main/citrusleaf/cf_digest.c",
        "c/modules/common/src/main/citrusleaf/cf_hooks.c",
        "c/modules/common/src/main/citrusleaf/cf_ll.c",
        "c/modules/common/src/main/citrusleaf/cf_queue.c",
        "c/modules/common/src/main/citrusleaf/cf_queue_priority.c",
        "c/modules/common/src/main/citrusleaf/cf_random.c",
        "c/modules/common/src/main/citrusleaf/cf_rchash.c",
        "c/modules/common/src/main/citrusleaf/cf_shash.c",
        "c/modules/common/src/main/citrusleaf/cf_vector.c",
        "c/modules/mod-lua/src/main/mod_lua_aerospike.c",
        "c/modules/mod-lua/src/main/mod_lua_bytes.c",
        "c/modules/mod-lua/src/main/mod_lua.c",
        "c/modules/mod-lua/src/main/mod_lua_iterator.c",
        "c/modules/mod-lua/src/main/mod_lua_list.c",
        "c/modules/mod-lua/src/main/mod_lua_map.c",
        "c/modules/mod-lua/src/main/mod_lua_record.c",
        "c/modules/mod-lua/src/main/mod_lua_reg.c",
        "c/modules/mod-lua/src/main/mod_lua_stream.c",
        "c/modules/mod-lua/src/main/mod_lua_val.c",
        "c/src/main/aerospike/aerospike_batch.c",
        "c/src/main/aerospike/aerospike.c",
        "c/src/main/aerospike/aerospike_index.c",
        "c/src/main/aerospike/aerospike_info.c",
        "c/src/main/aerospike/aerospike_key.c",
        "c/src/main/aerospike/aerospike_llist.c",
        "c/src/main/aerospike/aerospike_lmap.c",
        "c/src/main/aerospike/aerospike_lset.c",
        "c/src/main/aerospike/aerospike_lstack.c",
        "c/src/main/aerospike/aerospike_query.c",
        "c/src/main/aerospike/aerospike_scan.c",
        "c/src/main/aerospike/aerospike_udf.c",
        "c/src/main/aerospike/as_admin.c",
        "c/src/main/aerospike/as_batch.c",
        "c/src/main/aerospike/as_bin.c",
        "c/src/main/aerospike/as_cluster.c",
        "c/src/main/aerospike/as_config.c",
        "c/src/main/aerospike/as_error.c",
        "c/src/main/aerospike/as_info.c",
        "c/src/main/aerospike/as_key.c",
        "c/src/main/aerospike/as_ldt.c",
        "c/modules/common/src/main/aerospike/as_log.c",
        "c/src/main/aerospike/as_lookup.c",
        "c/src/main/aerospike/as_node.c",
        "c/src/main/aerospike/as_operations.c",
        "c/src/main/aerospike/as_partition.c",
        "c/src/main/aerospike/as_policy.c",
        "c/src/main/aerospike/as_query.c",
        "c/src/main/aerospike/as_record.c",
        "c/src/main/aerospike/as_record_hooks.c",
        "c/src/main/aerospike/as_record_iterator.c",
        "c/src/main/aerospike/as_scan.c",
        "c/src/main/aerospike/as_shm_cluster.c",
        "c/src/main/aerospike/as_udf.c",
        "c/src/main/aerospike/_bin.c",
        "c/src/main/aerospike/_ldt.c",
        "c/src/main/aerospike/_logger.c",
        "c/src/main/aerospike/_policy.c",
        "c/src/main/aerospike/_shim.c",
        "c/src/main/citrusleaf/citrusleaf.c",
        "c/src/main/citrusleaf/cl_batch.c",
        "c/src/main/citrusleaf/cl_info.c",
        "c/src/main/citrusleaf/cl_parsers.c",
        "c/src/main/citrusleaf/cl_query.c",
        "c/src/main/citrusleaf/cl_scan2.c",
        "c/src/main/citrusleaf/cl_scan.c",
        "c/src/main/citrusleaf/cl_sindex.c",
        "c/src/main/citrusleaf/cl_udf.c"
        ]}]}.

{deps, [
    {'poolboy', "", {git, "https://github.com/devinus/poolboy.git", {branch, master}}}
]}.

{erl_opts, [debug_info, warnings_as_errors]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
